

html, body { margin:0px;padding:0px; font-family:'Nanum Square', sans-serif;font-size:12px;color:#222222; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,p,a,button,checkbox { margin:0px;padding:0px;font-weight:normal;}

li{list-style:none;}
img { border:0px;vertical-align:top; }
.img_middle { border:0px;vertical-align:middle; }
.hidden{display:none;}
.clear {clear:both; margin-top:20px;}
.Wid05 { width: 5%;}
.Wid10 { width: 10%;}
.Wid15 { width: 15%;}
.Wid19 { width: 19%;}
.Wid20 { width: 20%;}
.Wid30 { width: 30%;}
.Wid40 { width: 40%;}
.Wid50 { width: 50%;}
.Wid60 { width: 60%;}
.Wid70 { width: 70%;}
.Wid80 { width: 80%;}
.Wid90 { width: 90%;}
.Wid98 { width: 98%;}

#application  {border-bottom:solid 3px #000; height:128px; font-size:14px; background-color:#f4f7f8; width:100%;}
#application .appliTop {width:900px; margin:0 auto; padding-top:34px; margin-bottom:40px; height:94px;}
#application .appliTop:after {content:""; display:block; clear:both;}
#application .appliTop p.appliLogo {float:left; padding-right:20px;}
#application .appliTop p.appliLogo img {width:75px; height: 72px;}
#application .appliTop p.appliTopTit {float:left; font-size:34px; color:#222; font-weight:900; letter-spacing:-.5px;}
#application .appliTop p.appliTopTit span {display:block; padding-bottom:4px; font-size:16px; color:#666; font-weight:300; letter-spacing:-1px; font-family: '¸¼Àº °íµñ', sans-serif;}
#application .appliTop p.appliCall {float:right; text-align:right; padding-top:5px; color:#222;}
#application .appliTop p.appliCall span {display:block; font-size:30px; color:#ff2323; font-weight:900; line-height:40px;}

#application .appliForm {clear:both; width:900px; margin:25px auto; letter-spacing:-1px;}
#application .appliTit {line-height:48px; height:40px; font-size:20px; font-weight:600; color:#222; margin-bottom:15px; font-family: '¸¼Àº °íµñ', sans-serif;}

#application table {clear:both; text-align:left; margin:0 auto; margin-bottom:40px; border-top:solid 1px #d5d5d5; line-height:45px; width:100%; font-family: '¸¼Àº °íµñ', sans-serif;}
#application table td {border-bottom:solid 1px #ccc; font-weight:normal; line-height:23px; padding:18px 0 ; font-size:16px; padding-left:15px;}
#application table td.tdFirst {background-color:#f5f5f5; font-weight:bold; width:19%; color:#333; padding-left:4%;}

#application table td p {float:left;}
#application table td .appliBtn {height:26px;}
#application table td .appliBtn span {color:#FFF; vertical-align:middle;background-color:#666; font-size:15px; text-align:center; padding:5px 20px 5px 20px;}

#application table td input.txtbox {height:26px; border:solid 1px #dcdcdb; padding-left:10px;}
#application table td select {height:30px; border:solid 1px #dcdcdb;}
#application table td textarea {border:solid 1px #dcdcdb;}

#application .appInfoBox {height: 100px; background-color: #F6F4E9; margin-bottom: 35px;}
#application .appInfoBox .logo {width: 19%; margin-top: 10px; text-align: center; vertical-align: middle; float:left;}

#application .appliTitBox {position:relative;}
#application .appliTitBox .appliInfo {position:absolute; top:32px; right:0;}
#application .appliBtBtn {margin:50px 0 70px 0; text-align:center;}
#application .appliBtBtn span {color:#FFF; font-size:30px; font-weight:700; background-color:#3a4456; font-size:15px; text-align:center; padding:20px 90px;}


.board_agree  {width:99%; height:200px; line-height:23px; overflow:scroll; border:1px solid #EEE; font-size:14px;padding:5px;}
.board_agree p {line-height:23px; font-size:14px;}
